* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    width: 500px;
    min-height: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

form h1 {

    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: #333;
    background-color: blue;
    color: white;
}

.area {
    width: 200px;
    gap: 10px;
}

.area input {
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    margin-top: 50px;
    margin: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.area2 {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}